// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #111454;
$secondary : #ff0000;
$accent    : #e0e7f1;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
